<!DOCTYPE html>
<html>
  <head>
    <title>Twitte</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="wrapper">
    <header>
      <ul>
        <li><a href="#">Twitteクローン</a></li>
        <li><a href="#">トップへ()</a></li>
      </ul>
    </header>

  <%= yield %>

    <footer>
      <p>なんか</p>
      <p>知性のあること書きたい</p>
    </footer>
   </div>
  </body>
</html>
